<!DOCTYPE html>
<html>
	<head>
		<title>Liste des Auteurs</title>
	</head>
	<body>
		<h1>Liste des Auteurs</h1>
		{% if authors is empty %}
			<p>Aucun auteur trouvé.</p>
		{% else %}
			<p>Nombre total d'auteurs :
				{{ authors|length }}</p>
			<p>Nombre total de livres :
				{{ totalBooks }}</p>
			<table border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Nom d'utilisateur</th>
						<th>Email</th>
						<th>Nombre de livres</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					{% for author in authors %}
						<tr>
							<td>{{ author.id }}</td>
							<td><img src="{{ author.picture }}" alt="{{ author.username }}" width="100"/></td>
							<td>{{ author.username |upper }}</td>

							<td>{{ author.email }}</td>
							<td>{{ author.nb_books }}</td>
							<td>
								<a href="{{ path('app_author_details', {'id': author.id}) }}">Détails</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</body>
</html></body></html>
